@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.header {
  background-color: var(--primary-background);
  border-bottom: 1px solid var(--primary-border);
  padding: 0.75rem 1.5rem;

  @include transition();

  @include flex-box(center, space-between);

  .toggle-btn {
    border: 2px solid var(--border-toggle-btn);
    border-radius: 20px;
    height: 100%;
    padding: 0 0.5rem;
    position: relative;
    width: 80px;

    @include flex-box(center, space-between);

    &:before {
      content: '';
      background-color: var(--toggle-btn);
      border-radius: 50%;
      height: 28px;
      left: 5px;
      position: absolute;
      top: 4px;
      width: 28px;

      @include transition();
    }

    svg:first-child {
      color: $yellow;
    }

    svg:last-child {
      color: $moon;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__left {
    @include flex-box(center, flex-start);

    img {
      border: 2px solid var(--header-border-avatar);
      border-radius: 50%;
      width: 40px;
    }

    span {
      display: none;
    }
  }

  &__right {
    height: 40px;
  }

  &.lightmode {
    .toggle-btn {
      &:before {
        left: 43px;
      }
    }
  }

  @include media-breakpoint(md) {
    padding: 0.75rem 3rem;
  }

  @include media-breakpoint(xl) {
    padding: 0.75rem 6rem;
  }
}
