@import '../../assets/styles/app.scss';

.header {
  background-color: $dark-dimmer;
  padding: 0.75rem 1.5rem;
  transition: 0.3s ease;
  
  @include flex-box(center, space-between);

  .toggle-btn {
    border: 2px solid $tertiary-light;
    border-radius: 20px;
    height: 100%;
    padding: 0 0.5rem;
    position: relative;
    width: 80px;
      
    @include flex-box(center, space-between);
  
    &:before {
      content: '';
      background-color: $tertiary-lightest;
      border-radius: 50%;
      height: 28px;
      left: 5px;
      position: absolute;
      top: 4px;
      transition: 0.5s ease;
      width: 28px;
    }
    
    svg:first-child {
      color: $yellow;
    }
  
    svg:last-child {
      color: $moon;
    }
  }

  &__left {
    @include flex-box(center, flex-start);

    img {
      border-radius: 50%;
      width: 40px;
    }

    span {
      display: none;
    }
  }

  &__right {
    height: 40px;
  }

  &.lightmode {
    background-color: $gray;

    .header__left {
      img {
        border: 2px solid $tertiary-dimmer;
        width: 36px;
      }
    }

    .toggle-btn {
      border: 2px solid $tertiary;
  
      &:before {
        background-color: $tertiary;
        left: 43px;
      }
    }
  }

  @include media-breakpoint(md) {
    padding: 0.75rem 3rem;
  }

  @include media-breakpoint(xl) {
    padding: 0.75rem 6rem;
  }
}
