@import '../../assets/styles/app.scss';

.header {
  background-color: $dark-dimmer;
  padding: 12px 24px;
  
  @include flex-box(center, space-between);

  &__left {
    @include flex-box(center, flex-start);

    img {
      border-radius: 50%;
      width: 40px;
    }

    span {
      display: none;
    }
  }

  &__right {
    height: 40px;
  }
}
