@font-face {
  font-family: 'Heebo';
  font-display: swap;
  src: url('./fonts/Heebo-Thin.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'Heebo';
  font-display: swap;
  src: url('./fonts/Heebo-ExtraLight.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'Heebo';
  font-display: swap;
  src: url('./fonts/Heebo-Light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'Heebo';
  font-display: swap;
  src: url('./fonts/Heebo-Regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Heebo';
  font-display: swap;
  src: url('./fonts/Heebo-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Heebo';
  font-display: swap;
  src: url('./fonts/Heebo-SemiBold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Heebo';
  font-display: swap;
  src: url('./fonts/Heebo-Bold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Heebo';
  font-display: swap;
  src: url('./fonts/Heebo-ExtraBold.woff') format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'Heebo';
  font-display: swap;
  src: url('./fonts/Heebo-Black.woff') format('woff');
  font-weight: 900;
}
