@import './variables';
@import './mixins';

body {
  box-sizing: border-box;
  font-family: 'Heebo';
  font-size: 1rem;
  line-height: 2;
  letter-spacing: $letter-spacing;
  margin: 0;
}

.lightmode {
  @include light-theme();
}

.darkmode {
  @include dark-theme();
}

.custom-container {
  background-color: var(--body-container);
  color: var(--text-color);
  min-height: calc(100vh - 65px);
  padding: 1rem 1.5rem;
  position: relative;

  .primary-btn {
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 8px;
    color: var(--text-color);
    margin-left: 0.75rem;
    min-width: 90px;
    padding: 0.5rem 0;

    &:hover {
      border-color: var(--border-primary-btn-hover);
      color: var(--border-primary-btn-hover);
      font-weight: 600;
      transform: translate(-2px, -2px);
      box-shadow: 1px 9px 17px 5px rgba(147, 230, 243, 0.16);
    }
  }

  .navigation-buttons {
    margin-left: auto;
    width: fit-content;
  }

  @include media-breakpoint(md) {
    padding: 1rem 3rem 0;
  }

  @include media-breakpoint(xl) {
    padding: 1rem 6rem 0;
  }
}

.btn {
  background-color: transparent;
  border: none;
  color: $tertiary-lighter;
  font-size: 1rem;

  @include transition();

  &:hover {
    cursor: pointer;
  }
}
