@import '../../assets/styles/variables';
@import './mixins';

body {
  box-sizing: border-box;
  font-family: 'Heebo';
  font-size: 1rem;
  line-height: 2;
  letter-spacing: $letter-spacing;
  margin: 0;
}

.container {
  background-color: $dark;
  color: $tertiary-light;
  height: calc(100vh - 80px);
  padding: 1rem 1.5rem 0;
  position: relative;
  transition: 0.3s ease;

  .navigation-buttons {
    position: sticky;
    top: 16px;
    margin-left: auto;
    width: fit-content;
  }

  &.lightmode {
    background-color: $gray-light;
  }

  @include media-breakpoint(md) {
    padding: 1rem 3rem 0;
  }

  @include media-breakpoint(xl) {
    padding: 1rem 6rem 0;
  }
}

.btn {
  background-color: transparent;
  border: none;
  color: $tertiary-lighter;
  font-size: 1rem;
  transition: 0.3s ease;

  &:hover {
    cursor: pointer;
  }

  &.lightmode {
    color: $tertiary-dimmer;
  }
}

.primary-btn {
  background-color: $dark;
  border: 2px solid $tertiary-lighter;
  border-radius: 8px;
  margin-left: 0.75rem;
  min-width: 90px;
  padding: 0.5rem 0;
  
  &:hover {
    border-color: $tertiary-lightest;
    color: $tertiary-lightest;
    font-weight: 600;
    transform: translate(-2px, -2px);
    box-shadow: 1px 9px 17px 5px rgba(147, 230, 243, 0.16);
  }

  &.lightmode {
    background-color: transparent;
    border-color: $tertiary;

    &:hover {
      color: $tertiary;
    }
  }
}

.toggle-btn {
  border: 2px solid $tertiary-light;
  border-radius: 20px;
  height: 100%;
  padding: 0 0.5rem;
  position: relative;
  width: 80px;
    
  @include flex-box(center, space-between);

  &:before {
    content: '';
    background-color: $tertiary-lightest;
    border-radius: 50%;
    height: 28px;
    left: 5px;
    position: absolute;
    top: 4px;
    transition: 0.5s ease;
    width: 28px;
  }

  &.lightmode {
    border: 2px solid $tertiary;

    &:before {
      background-color: $tertiary;
      left: 43px;
    }
  }
  
  svg:first-child {
    color: $yellow;
  }

  svg:last-child {
    color: $moon;
  }
}