@mixin flex-box($align-items, $justify-content) {
  align-items: $align-items;
  display: flex;
  justify-content: $justify-content;
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}
