$primary: #efefef;
$secondary: #2f2f2f;
$tertiary: #026190;

$gray-lighter: #F5F5F5;
$gray: $primary;
$gray-dimmer: #CDAEB1;

$dark-lighter: #828282;
$dark: $secondary;
$dark-dimmer: #282222;

$tertiary-lighter: #3197BC;
$tertiary: #026190;
$tertiary-dimmer: #014B7B;
