@import '../../assets/styles/app.scss';

.custom-container {
  .accordion {
    background-color: var(--body-container);
    border-radius: 8px;
    border: 1px solid var(--accordion-border);
    margin-top: 16px;

    .accordion-item {
      padding: 0px 16px 8px;
      position: relative;

      @include transition();

      .accordion-header {
        margin: 0;

        .accordion-button {
          background-color: transparent;
          border: none;
          color: var(--text-color);
          font-size: 1rem;
          font-weight: 600;
          padding: 0 0 4px 36px;
          position: relative;
          text-align: left;
          text-transform: capitalize;
          width: 100%;

          @include transition();

          .first-icon {
            position: absolute;
            left: 0;
            top: -3px;

            & ~ span {
              font-size: 1.125rem;
            }
          }

          .second-icon {
            position: absolute;
            right: 0;
            top: -2px;

            @include transition();
          }

          &:not(.collapsed) {
            border-bottom: 1px solid var(--accordion-header-border);

            .second-icon {
              transform: rotate(180deg);
            }
          }
        }
      }

      .accordion-collapse {
        .accordion-body {
          padding-top: 4px;

          ol,
          ul {
            margin: 0;
          }

          ol {
            padding-left: 30px;

            li {
              p {
                font-weight: 600;
                margin-bottom: 0;
              }
            }
          }

          ul {
            padding-left: 20px;
          }
        }

        @include transition();
      }

      &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      &:hover {
        background-color: var(--primary-background);
        .accordion-button {
          color: var(-border-primary-btn-hover);
        }
      }
    }
  }
}
