@import '../../assets/styles/app.scss';

.custom-container {
  .accordion {
    background-color: $dark;
    border-radius: 8px;
    border: 1px solid $dark;
    margin-top: 16px;

    .accordion-item {
      padding: 0px 16px 8px;
      position: relative;

      @include transition();

      .accordion-header {
        margin: 0;
      }

      .accordion-button {
        background-color: transparent;
        border: none;
        color: $tertiary-lighter;
        font-size: 1rem;
        font-weight: 600;
        padding: 0;
        position: relative;
        text-align: left;
        text-transform: capitalize;
        width: 100%;

        @include transition();

        svg {
          position: absolute;
          right: 0;
          top: -4px;

          @include transition();
        }

        &:not(.collapsed) {
          border-bottom: 1px solid $dark-light;

          svg {
            transform: rotate(-180deg);
          }
        }
      }

      &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      &:hover {
        background-color: $dark-dimmer;
        .accordion-button {
          color: $tertiary-lightest;
        }
      }
    }
  }
}
