@import '../../assets/styles/app.scss';

.portfolio {
  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  border-radius: 8px;
  font-size: 0.9375rem;
  margin-top: 1rem;
  padding: 1rem;

  &_header {
    background-color: unset;
    border: none;
    padding: 0;

    @include flex-box(center, start);

    .image {
      border-radius: 8px;
      border: 1px solid $tertiary-lightest;
      width: 30%;
    }

    .text {
      line-height: initial;
      padding-left: 1rem;

      span {
        display: block;

        &.name {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }
  }

  &_body {
    background-color: var(--body-container);
    border-radius: 8px;
    border: 1px solid var(--accordion-border);
    display: none;
    font-weight: 600;
    margin-top: 56px;
    padding: 80px 96px 48px;

    .main-column {
      font-size: 1.125rem;
      padding-right: 40px;

      .main-header {
        padding: 0 0 4px 36px;
        position: relative;

        .first-icon {
          left: 0;
          position: absolute;
          top: -3px;
        }
      }

      .main-body {
        font-size: 1rem;
        font-weight: 400;

        ol {
          padding-left: 30px;

          li p {
            font-weight: 600;
            margin-bottom: 0;
          }
        }
      }
    }

    .side-column {
      .side-item {
        padding-bottom: 40px;

        .side-body {
          font-weight: 400;
        }
      }
    }
  }
}

@include media-breakpoint(md) {
  .portfolio {
    padding: 1rem 2rem;

    &_header {
      .image {
        width: 26%;
      }

      .text {
        padding-left: 2rem;
      }
    }
  }
}

@include media-breakpoint(xl) {
  .portfolio {
    padding: 6rem 7rem;

    &_header {
      .image {
        width: 13%;
      }

      .text {
        padding-left: 1.5rem;
      }
    }

    &__body {
      @include flex-box(start, start);
    }
  }
}
