@import '../../assets/styles/app.scss';

.custom-container {
  .portfolio {
    background-color: $dark-dimmer;
    border: 1px solid $dark-dimmer;
    border-radius: 8px;
    font-size: 0.9375rem;
    margin-top: 1rem;
    padding: 1rem;

    .header {
      background-color: unset;
      border: none;
      padding: 0;

      @include flex-box(center, start);

      .image {
        border-radius: 8px;
        border: 1px solid $tertiary-lightest;
        width: 30%;
      }

      .text {
        line-height: initial;
        padding-left: 1rem;

        span {
          display: block;

          &.name {
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
      }
    }
  }

  &.lightmode {
    .portfolio {
      background-color: $gray;
      border: 1px solid $tertiary-lightest;
    }
  }
}
