@import '../../assets/styles/app.scss';

.portfolio {
  background-color: var(--primary-background);
  border: 1px solid var(--primary-border);
  border-radius: 8px;
  font-size: 0.9375rem;
  margin-top: 1rem;
  padding: 1rem;

  &_header {
    background-color: unset;
    border: none;
    padding: 0;

    @include flex-box(center, start);

    .image {
      border-radius: 8px;
      border: 1px solid $tertiary-lightest;
      width: 30%;
    }

    .text {
      line-height: initial;
      padding-left: 1rem;

      span {
        display: block;

        &.name {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
    }
  }

  &_body {
    font-weight: 600;
    padding-top: 32px;

    @include flex-box(start, start);

    .main-column {
      flex-grow: 7;
      font-size: 1.125rem;
    }

    .side-column {
      flex-grow: 3;
    }
  }
}

@include media-breakpoint(md) {
  .portfolio {
    padding: 1rem 2rem;

    &_header {
      .image {
        width: 26%;
      }

      .text {
        padding-left: 2rem;
      }
    }
  }
}

@include media-breakpoint(xl) {
  .portfolio {
    padding: 2rem 3rem;

    &_header {
      .image {
        width: 13%;
      }

      .text {
        padding-left: 1.5rem;
      }
    }
  }
}
